@import "css/reset.css";
@import "css/layout.css";
@font-face {
    font-family: 'Champagne';
    src: url('champagne.eot');
    src: url('champagne.eot?#iefix') format('embedded-opentype'),
         url('champagne.ttf') format('truetype');
}

/*** COMMON ***/
html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background: #151615;
  color: #ffffff;
  width: 100%;
  height: 100%;
  font-family: "Champagne";
}

a {
  text-decoration: none;
  color: #ffffff;
}

input {
  appearance: none;
  -webkit-appearance: none;
}

.wrap {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
}

/*** HEADER ***/
#header {
  width: 100%;
  background: transparent url('images/bg_1920.png') scroll no-repeat;
  padding: 0px 0px 41px 0px;
}
/*** LOG IN ***/
#login {

}

.loginoverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    overflow-y: hidden;
    transition: opacity 0.5s;
    text-align: center;
    vertical-align: middle;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(15, 15, 15, 0.5);
}


#overlaycontent {
  display: inline-block;
  text-align: center;
  background: transparent url('images/nav_bg.png') scroll repeat;
  background: #ffffff;
  color: #000000;
  border-radius: 10px;
  padding: 25px 20px 25px 20px;
  box-sizing: border-box;
  margin: 5% 0px 0px 0px;
}

#overlaycontent p {
  cursor: pointer;
  color: #2c3e50;
  float: right;
  margin: -15px 0px 0px 0px;
  font-size: 20px;
}

#overlaycontent img {
  margin: 0px 0px 10px 0px;
}

#overlaycontent form {
  font-size: 18px;
}

#overlaycontent input {
  display: block;
  width: 100%;
  margin: 0px 0px 5px 0px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Champagne";

}

#overlaycontent input::placeholder {
  color: #2c3e50;
}

#overlaycontent input:focus {
  border: 1px solid #a84645;
  outline: none;
}

#overlaycontent input:focus::placeholder {
  color: #a84645;
}

#overlaycontent input.submit {
  display: inline-block;
  color: #ffffff;
  padding: 3px 7px 3px 7px;
  margin: 10px 0px 0px 0px;
  width: auto;
  height: auto;
}

p#register {
  margin: -10px 0px 10px 0px;
  float: left;
  color: #ffffff;
}

.inputfield {
  border: 1px solid #2c3e50;
  box-sizing: border-box;
}
.button {
  font-family: "Champagne";
  font-size: 18px;
  cursor:pointer;
  border: none;
  background: #a84645;
  padding: 3px 7px 3px 7px;
  border-radius: 5px;
  color: #ffffff;
  width: auto;
  height: auto;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
}

.button:focus {
  outline: none;
}

.button:hover {
  background: #863736;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
}

form#loginForm {
  opacity: 1;
}

form#regForm {
  display: none;
  visibility: visible;
  opacity: 0;
}

.response {
  margin: 13px 0px 0px 0px;
}


/*** END LOG IN ***/
/*** NAV ***/
#nav {
  width: 100%;
  background: transparent url('images/nav_bg.png') repeat scroll;
  font-size: 22px;
}

#nav img#navLogo {
  margin: 10px 0px 0px 50px;
  float: left;
}

#login_nav {
  display: inline-block;
  width: 70px;
  text-align: center;
  margin: 18px 0px 5px 5px;
}

#nav p#user {
  text-transform: capitalize;
}

#nav img#login {
  margin: 15px 3px 0px 15px;
  height: 53px;
}

#nav ul {
  float: right;
  height: 80px;
}

#nav ul li {
  float: left;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;

}

#nav ul a:hover {
  color: #a84645;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
}

#nav ul a {
  display: inline-block;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 50px 15px 0px 15px;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
}
/*** END NAV ***/

#mainHeader {
  text-align: center;
}

#mainHeader img {
  margin: 20px 0px 0px 0px;
  width:100%;
  max-width: 700px;
}

#mainHeader a {
  margin: 10px 3px 0px 3px;
  font-size: 20px;
  background: #a84645;
  display: inline-block;
  border-radius: 5px;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
}

#mainHeader a:hover {
  background: #863736;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
}


/*** END HEADER ***/
/*** CONTENT - INDEX ***/
#recipes {
  width: 100%;
  min-width: 320px;
  text-align: center;
  font-size: 0px;
}

#recipes ul {
  overflow: hidden;
}


#recipes li {
  width: 320px;
  height: 240px;
  display: inline-block;
}
/*** END CONTENT - INDEX ***/
/*** CONTENT - CALENDAR ***/
#calendarContent {
  width: 100%;
  min-width: 320px;
  text-align: center;
}

#calendar {
  display: inline-block;
  width: 100%;
  min-width: 320px;
  height: 100%;
  padding: 0px 0px 35px 0px;
  vertical-align: top;
  background: transparent url('images/nav_bg.png') repeat scroll;
  text-align: center;
}

.month h1 {
  margin: 10px 0px 10px 0px;
  font-size: 30px;
  color: #ffffff;
}

ul.weekdays {
  display: inline-block;
  font-size: 0px;
  color: #a84645;
  text-align: center;
  margin: 0px 0px 15px 0px;
  width: 75%;
}

ul.weekdays li {
  display: inline-block;
  width: 14%;
  font-size: 20px;
}
ul.days {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  width: 75%;
}

ul.days li {
  display: inline-block;
  width: 13%;
  height: 0;
  padding-bottom: 13%;
  vertical-align: top;
  border: 1px solid #2c3e50;
  margin: 1px;
}

ul.days li p {
  margin: 5px 0px 0px 0px;
  display: inline-block;
}

li.recipeday a {
  color: #2c3e50;
}

li#pancakes {
  background: transparent url('images/pancakes_calendar.png') scroll no-repeat;
  background-size: contain;
}

li#meatballs {
  background: transparent url('images/meatballs_calendar.png') scroll no-repeat;
  background-size: contain;
}

#current_date {
  color: #a84645;
  text-decoration: underline;
}
/*** END CONTENT - CALENDAR ***/
/*** RECIPE - DEFAULT ***/
#recipeContent {
  margin: 10px 0px 0px 0px;
}

#recipeText {
  background: #ffffff;
  padding: 30px 30px 20px 30px;
  border-radius: 10px;
  color: #151615;
}

#recipeText img {
  width: 40%;
  float: right;
  margin: 0px 0px 30px 15px;

}

#recipeText h1 {
  font-size: 40px;
  margin: 0px 0px 5px 0px;
}

ul#info {
  font-size: 15px;
  margin: 0px 0px 15px 0px;
}

ul#info li {
  display: inline-block;
  margin: 0px 4px 0px 4px;
}

#recipeText span {
  font-size: 20px;
  margin: 0px 0px 0px 15px;
}

#recipeText h2 {
  font-size: 30px;
  margin: 0px 0px 0px 10px;
}

#recipeText p {
  font-size: 20px;
  margin: 0px 0px 15px 0px;
  width: 100%;
}

#recipeText ul, ol {
  margin: 0px 0px 30px 10px;
  font-size: 20px;
}

#recipeText ol {
  list-style: decimal;
}

#recipeText li {
  margin: 0px 0px 3px 0px;
}

.layoutlists {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  margin: 0px 15px 0px 15px;
}
h2#commenttitle {
  margin: 40px 0px 0px 0px;
}
#comments {
  margin: 0px 0px 0px 0px;
  border-top: dashed 1px #a84645;
  padding: 10px 0px 0px 0px;
}

.comment_container {
  margin: 5px 0px 5px 0px;
  padding: 0px 0px 10px 0px;
  border-bottom: 1px dashed #a84645;
}

#comments h3 {
  font-size: 22px;
  text-transform: capitalize;
  display: inline-block;
}

#comments p.meta {
  font-size: 13px;
  display: inline-block;
  width: auto;
  color: #2c3e50;
  margin: 0px 0px 0px 5px;
}

#comments p.meta span {
  font-size: 15px;
  margin: 0px;
  text-transform: capitalize;
}

#comments p.author {
  font-size: 16px;
  width: auto;
}

#comments p.commenttext {
  font-size: 16px;
  width: 75%;
  margin: 3px 0px 0px 0px;
}

#comments form#delete_comment {
  display: inline-block;
  margin: 7px 0px 0px 10px;
  height: 20px;
}

#comments input#deleteC {
  height: 20px;
  font-size: 16px;
  color: transparent;
  background: transparent url('images/delete_icon.png') no-repeat scroll;
  padding: 0px;

}


#commentForm form {
  font-size: 18px;
}

#commentForm input, textarea{
  display: block;
  width: 100%;
  max-width: 320px;
  margin: 0px 0px 5px 0px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Champagne";
  resize: none;
}

#commentForm textarea {
  height: 150px;
}

#commentForm input::placeholder, textarea::placeholder{
  color: #2c3e50;
}

#commentForm input:focus, textarea:focus {
  border: 1px solid #a84645;
  outline: none;
}

#commentForm input:focus::placeholder, textarea:focus::placeholder {
  color: #a84645;
}

#commentForm input.submit {
  display: inline-block;
  color: #ffffff;
  padding: 3px 7px 3px 7px;
  margin: 10px 0px 0px 0px;
  width: auto;
  height: auto;
}
/*** END RECIPE - DEFAULT ***/



/*** EFFECTS ***/
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent url('images/nav_bg.png') repeat scroll;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 30%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text h3 {
  display: inline-block;
  font-size: 30px;
  margin: 0px 30px 0px 0px;
}

.text a {
  display: inline-block;
  border-radius: 8px;
  background: #a84645;
  padding: 3px 10px 3px 10px;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
}

.text a:hover {
  background: #863736;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
}
/*** END EFFECTS ***/
/*** RESPONSIVE ***/
/*** 320x480 ***/
@media screen and (min-device-width : 320px) and (max-device-width: 812px){
  .wrap{
    width: 90%;
  }

  #nav {
    text-align: center;
  }

  #nav img#navLogo {
    margin: 10px 0px 0px 0px;
    float: none;
    clear: both;
  }


  #nav ul {
    display: inline-block;
    float: none;
    text-align: center;
    height: 100%;
    font-size: 20px;
    overflow: auto;
    line-height: normal;
    margin: 0px 0px 0px 0px;
  }

  #nav ul li {
    display: inline-block;
    overflow: hidden;
    padding: 3px 0px 0px 0px;
  }

  #nav ul a:hover {
    color: #a84645;
  }

  #nav ul a {
    display: inline-block;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: -50px 0px 0px 0px;
    padding: 50px 5px 0px 5px;
  }

  #mainHeader {
    margin: 0px 0px 0px 0px;
  }

  #mainHeader img {
    width: 70%;
    margin: 10px 0px 0px 3%;
  }

  #mainHeader p {
    margin: 0px 0px 0px 0px;
  }

  #recipes {
    margin: 0px 0px 0px 0px;
  }

  #headerBackground {
    min-height: 369px;
  }

  #recipeText {
    padding: 15px 5px 10px 5px;
  }

  #recipeText h1 {
    font-size: 30px;
    display: block;
  }

  #recipeText img {
    display: block;
    float: none;
    margin: 0px 0px 10px 0px;
    width: 100%;
    height: 180px;
  }

  .layoutlists {
    display: block;
    width: 100%;
    vertical-align: top;
    margin: 10px 0px 10px 0px;
  }

  .layoutlists ol {
    padding: 0px 0px 0px 15px;
  }

  #comments p.commentText{
    width: 100%;
  }
}

@media screen and (min-device-width : 320px) and (max-device-width : 479px)
{
  #calendar {
    width: 100%;
    text-align: center;
  }

  ul.weekdays {
    text-align: center;
    width: 100%;
  }

  ul.weekdays li {
    font-size: 20px;
    width: 13%;
  }

  ul.days {
    text-align: center;
    width: 100%;
  }

  ul.days li {
    font-size: 20px;
    width: 13%;
  }
}
/*** END 320x480 ***/
/*** 480x320 ***/
@media screen and (min-device-width : 540px) and (max-device-width: 812px){
  #recipeText img {
    display: inline-block;
    width: 40%;
    float: right;
  }
}
/*** END 480x320 ***/


/*** BACKGROUND IMG ***/
@media screen and (min-device-width : 1281px) and (max-device-width: 1650px)
{
  #header {
    width: 100%;
    background: transparent url('images/bg_1650.png') scroll no-repeat;
    padding: 0px 0px 41px 0px;
    box-sizing: border-box;
  }
}

@media screen and (min-device-width : 801px) and (max-device-width: 1280px)
{
  #header {
    width: 100%;
    background: transparent url('images/bg_1280.png') scroll no-repeat;
    padding: 0px 0px 35px 0px;
    box-sizing: border-box;
  }
}

@media screen and (min-device-width : 481px) and (max-device-width: 800px)
{
  #header {
    width: 100%;
    background: transparent url('images/bg_800.png') scroll no-repeat;
    padding: 0px 0px 20px 0px;
    box-sizing: border-box;
  }
}

@media screen and (min-device-width : 506px) {
  #nav {

  }
}

@media screen and (min-device-width : 320px) and (max-device-width: 480px)
{
  #header {
    width: 100%;
    background: transparent url('images/bg_480.png') scroll no-repeat;
    padding: 0px 0px 20px 0px;
    box-sizing: border-box;
  }
}
@media screen and (min-device-width : 0px) and (max-device-width : 320px)
{
  .wrap {
    width: 100%;
  }
  #header {
    width: 100%;
    background: transparent url('images/bg_320.png') scroll no-repeat;
    padding: 0px 0px 20px 0px;
    box-sizing: border-box;
  }
}
/*** END BACKGROUND IMG ***/
/*** END RESPONSIVE ***/
